@{
    ViewBag.Title = "Ativação Necessária";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Um email de confirmação foi enviado para @ViewBag.EmailSent. Vá até seu lá e confirme sua conta.
    </p>
</div>

