@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>Não há serviços de autenticação externos configurados. Consulte <a href="http://go.microsoft.com/fwlink/?LinkId=252166">este artigo</a>
        para obter mais detalhes sobre a configuração deste aplicativo ASP.NET a fim de suportar logon por serviços externos.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Logon usando outro serviço</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Logon usando sua conta @p.DisplayName">@p.DisplayName</button>
        }
        </p>
    </fieldset>
    }
}
