@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var greetings = "Usuário não logado";
    var user = User.Identity.GetApplicationUser();

    if (user != null)
    {
        greetings = "Olá, " + user.FirstName + "!";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    @greetings
                </h1>
                <h2 style="color:#777777; font-size: 23px; line-height: 23.3999996185303px;">Escolha uma opção abaixo</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Users.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Conta</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Alterar Dados Pessoais", "Edit")</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/ControlPanel.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Estacionamento</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Alterar Dados do Estacionamento</a></li>
                            <li><a class="btn-default" href="#">Alterar Dados do Estacionamento</a></li>
                            <li><a class="btn-default" href="#">Gerenciar Preços</a></li>
                            <li><a class="btn-default" href="#">Gerenciar Vagas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Statistics.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Faturamento</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Gerenciar Faturamentos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/ManageUsers.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Funcionários</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#"> @Html.ActionLink("Cadastrar Funcionário", "Register", "Collaborator")</a></li>
                            <li><a class="btn-default" data-toggle="modal" data-target="#selectCollaboratorModal" href="#">Gerenciar Funcionários</a></li>
                        </ul>
                    </div>
                </div>

                <div class="modal fade" id="selectCollaboratorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Selecione um funcionário para gerenciar</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container" id="selectCollaboratorContainer">
                                    Carregando...
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button id="selectCollaboratorBtn" type="button" class="btn btn-success" data-dismiss="modal" disabled>Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/selectCollaborators.js")"></script>
}


