@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var greetings = "Usuário não logado";
    var user = User.Identity.GetApplicationUser();

    if (user != null)
    {
        greetings = "Olá, " + user.FirstName + "!";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    @greetings
                </h1>
                <h2 style="color:#777777; font-size: 23px; line-height: 23.3999996185303px;">Escolha uma opção abaixo</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?q=75&amp;fm=jpg&amp;s=cfeadbd7a991e58b553bee29a7eeca55"
                                 class="img-responsive">
                            <div class="caption">
                                <h3>Conta</h3>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Alterar Password</a></li>
                            <li><a class="btn-default" href="#">Dados Pessoais</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="https://unsplash.imgix.net/photo-1413920346627-a4389f0abd61?q=75&amp;fm=jpg&amp;s=cfd43f65c77577abb3bf29c0d6a0775f"
                                 class="img-responsive">
                            <div class="caption">
                                <h3>Estacionamento</h3>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Alterar Dados Cadastrais</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="https://unsplash.imgix.net/photo-1413920346627-a4389f0abd61?q=75&amp;fm=jpg&amp;s=cfd43f65c77577abb3bf29c0d6a0775f"
                                 class="img-responsive">
                            <div class="caption">
                                <h3>Faturamento</h3>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Pesquisar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="https://unsplash.imgix.net/photo-1423439793616-f2aa4356b37e?q=75&amp;fm=jpg&amp;s=3b42f9c018b2712544debf4d6a4998ff"
                                 class="img-responsive">
                            <div class="caption">
                                <h3>Funcionários</h3>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Cadastrar novo colaborador", "Registrar", "Collaborator")</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
}


