
@{
    ViewBag.Title = "Registre-se";
}

<h2>@ViewBag.Title.</h2>

<h4>Cadastrar Funcionário</h4>


    
    <hr />
    <h4>Dados pessoais do funcionário:</h4>


@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/register.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/validation.js")"></script>
}

