@using SPS.BO
@{
    var collaborators = BusinessManager.Instance.Collaborators.FindAll();
    var listItems = collaborators.Select(c => new SelectListItem 
    { 
        Text = c.FirstName + " " + c.LastName + " (" + c.CPF + ")", 
        Value = c.CPF
    });
}

@using (Html.BeginForm("FullEdit", "Collaborator", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "editCollaboratorForm" }))
{
    if (collaborators.Count > 0)
    {
        @Html.DropDownList("CollaboratorsDropDownList", listItems, "Selecione um colaborador");
    }
    else
    {
        <p>Não há colaboradores cadastrados.</p>
    }
}
