@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Olá @User.Identity.GetApplicationUser().FirstName,
                </h1>
                <h2 style="color:#777777; font-size: 23px; line-height: 23.3999996185303px;">Escolha uma opção abaixo</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>Registrar Entrada/Saída</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label">ID Tag</label>
                            <input class="form-control" placeholder="Digite o ID  da tag" type="email">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Hora de Entrada</label>
                            <input class="form-control" placeholder="Hora Entrada" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Hora da Saída</label>
                            <input class="form-control" placeholder="Hora Saída" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Hora Total Utilizada</label>
                            <input class="form-control" placeholder="Hora Total de Consumo" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Valor Total</label>
                            <input class="form-control" placeholder="Valor utilizado" type="text" disabled>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary">Realizar Pagamento</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <b>Total de Vagas</b>
                            </h3>
                        </div>
                        <div class="panel-body center-text">
                            <span class="numero-de-vagas">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Users.png" class="img-responsive" style=" width: 26%;margin-top: 5%;">
                            <div class="caption center-text">
                                <h4>Conta</h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Alterar Dados Pessoais</a></li>
                            <li><a class="btn-default" href="#">Alterar Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>Vincular Tag</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label class="control-label" >Email do Usuário &nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input class="form-control" placeholder="Enter a Email" type="email" size="100">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary" style="margin-left:5%">Cadastrar Tag</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

