@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<hgroup class="title">
    <h1 class="error">Erro.</h1>
    <h2 class="error">Ocorreu um erro ao processar sua solicitação.</h2>
</hgroup>
