@using SPS.BO

@{
    var parkings = BusinessManager.Instance.Parkings.FindAll();
    var items = parkings.Select(p => new SelectListItem() { Text = p.Name + " (" + p.CNPJ + ")", Value = p.CNPJ }).ToList();

    if (items.Count > 0)
    {
        <div class="container">
            @using (Html.BeginForm("Edit", "Parking", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "editParkingForm" }))
            {
                @Html.AntiForgeryToken();

                <div class="form-group">
                    @Html.DropDownList("ParkingSelectList", items, "Selecione um estacionamento")
                </div>
            }
        </div>
    }
    else
    {
        Html.Label("Não há estacionamentos cadastrados");
    }
}
