
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Olá Mensalista,
                    <font color="#777777">
                        <span style="font-size: 23px; line-height: 23.3999996185303px;">escolha uma opção:</span>
                    </font>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://unsplash.imgix.net/photo-1423439793616-f2aa4356b37e?q=75&amp;fm=jpg&amp;s=3b42f9c018b2712544debf4d6a4998ff"
                             class="img-responsive">
                        <div class="caption">
                            <h3>Controle Veículos</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://unsplash.imgix.net/photo-1413920346627-a4389f0abd61?q=75&amp;fm=jpg&amp;s=cfd43f65c77577abb3bf29c0d6a0775f"
                             class="img-responsive">
                        <div class="caption">
                            <h3>Histórico de Consumo</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&amp;fm=jpg&amp;s=478a9a2196033db7c0bf3c8ba3707f4d"
                             class="img-responsive">
                        <div class="caption">
                            <h3>Pagar Consumo</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?q=75&amp;fm=jpg&amp;s=cfeadbd7a991e58b553bee29a7eeca55"
                             class="img-responsive">
                        <div class="caption">
                            <h3>Minha Conta</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
