@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Olá, @User.Identity.GetApplicationUser().FirstName
                </h1>
                <h2 style="color:#777777; font-size: 23px; line-height: 23.3999996185303px;">Escolha uma opção abaixo</h2>
            </div>
            <div class="row">
                
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Balance.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Consumo</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Histórico de Consumo", "UsageRecords")</li>
                            <li><a class="btn-default" href="#">Realizar Pagamento </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Users.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Conta</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Dados Pessoais</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="thumbnail btn-default dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <img src="~/pictures/Car.png" class="img-responsive img-menu">
                            <div class="caption center-text">
                                <h4><b>Veículos</b></h4>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="btn-default" href="#">Gerenciar Veículos</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
