
@{
    ViewBag.Title = "Histórico de uso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    @Html.Partial("~/Views/Client/_UsageRecordsPartial.cshtml")
</div>

