body {
    margin: 0 auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* alteração da cor do footer */
.section-primary {
  background-color: #337cbb;
  color: #ffffff;
}

.espaco {
    margin-bottom:5em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

