body {
    margin: 0 auto;
}

/* ------------------- formatação para a utilização do footer sempre dinamico-------------------------*/
html, body, #geral { 
    height: 100%; 

}
body > #geral { 
    height: auto; 
    min-height: 100%; 

}
#conteudo { 
    padding-bottom: 180px; /* O padding, deve ser o mesmo valor da altura do rodapé */

} 
#rodape {
   position: relative;
   margin-top: -180px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
   height: 180px; /* E aqui, fica a altura do rodapé */
   clear: both;
}

/* ---------------------------------------------------------------------------------------------------*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* alteração da cor do footer */
.section-primary {
  background-color: #337cbb;
  color: #ffffff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.panel-btn {
    background-color: transparent;
}

.panel-btn:hover {
    background-color: white;
}

.navbar-default {
    background-color: lightgray;
}

.img-menu{
     width: 80%;
     margin-top: 5%;
}

.center-text{
     text-align: center;
}

@font-face {
    font-family: "ds-digital";
    src: url("../fonts/DS-DIGI.TTF") format("truetype");
}
.numero-de-vagas{
    font-family : ds-digital;
    font-size: 6em;
}

.mouse-hand:hover {
    cursor: pointer;
}
@media screen and (max-width: 768px) {
   .textoSobre {
        color: black; 
   }
}
@media screen and (min-width: 769px) {
   .textoSobre {
        color: white; 
   }
}