body {
    margin: 0 auto;
}

/* ------------------- formatação para a utilização do footer sempre dinamico-------------------------*/
html, body, #geral { 
    height: 100%; 

}
body > #geral { 
    height: auto; 
    min-height: 100%; 

}
#conteudo { 
    padding-bottom: 180px; /* O padding, deve ser o mesmo valor da altura do rodapé */

} 
#rodape {
   position: relative;
   margin-top: -180px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
   height: 180px; /* E aqui, fica a altura do rodapé */
   clear: both;
}
/* ---------------------------------------------------------------------------------------------------*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* alteração da cor do footer */
.section-primary {
  background-color: #337cbb;
  color: #ffffff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

