@{
    ViewBag.Title = "Sobre";
}

<!--<h3>@ViewBag.Message</h3>-->
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <p>Informações</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 hidden-xs">
        <div class="espaco"></div><br />
        <div class="espaco"></div><br />
        <div class="espaco"></div><br />
        <div class="espaco"></div><br />
        <div class="espaco"></div><br /><br /><br /><br /><br />
    </div>
</div>
