@{
    ViewBag.Title = "Contato";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <p>Informações</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 hidden-xs">
        <address>
            <!-- One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100-->
        </address>

        <address>
            <!-- <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
         <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
        </address>
    </div>
</div>
<div class="row">
    <div class="col-md-12 hidden-xs">
        <div class="espaco"></div><br />
        <div class="espaco"></div><br />
        <div class="espaco"></div><br />
        <div class="espaco"></div><br />
    </div>
</div>