@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 class="text-center">Smart Parking System </h1>
    </div>

    <div class="row text-center">
        <div class="col-md-6 col-sm-6">
            <h2>Promoções </h2>
            <p>

            </p>
            <p><a class="btn btn-default" href="/">Leia mais &raquo;</a></p>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2>Seja um Parceiro</h2>
            <p></p>
            <p><a class="btn btn-default" href="/">Leia mais &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 hidden-xs">
            <div class="espaco"></div><br />
            <div class="espaco"></div><br />
            <div class="espaco"></div><br /><br /><br />
        </div>
    </div>


