@{
    ViewBag.Title = "GeneratedTokem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Token</h2>

<div class="container text-center">
    <h3>
        @ViewBag.GeneratedToken
    </h3>
</div>

