<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://smartparkingsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smartparkingsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>smartparkingsystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$smartparkingsystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SPS.Web.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qdsgzqtxq5.database.windows.net,1433;Initial Catalog=smartparkingsystem_db;User ID=rootSPS@qdsgzqtxq5;Password=Root10052015" Name="Data Source=tcp:qdsgzqtxq5.database.windows.net,1433;Initial Catalog=smartparkingsystem_db;User Id=rootSPS@qdsgzqtxq5;Password=Root10052015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SPS.Web.Models.ApplicationDbContext, SPS.Web" MigrationConfiguration="SPS.Web.Migrations.Configuration, SPS.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qdsgzqtxq5.database.windows.net,1433;Initial Catalog=smartparkingsystem_db;User ID=rootSPS@qdsgzqtxq5;Password=Root10052015" Name="Data Source=tcp:qdsgzqtxq5.database.windows.net,1433;Initial Catalog=smartparkingsystem_db;User Id=rootSPS@qdsgzqtxq5;Password=Root10052015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SPS.Repository.SPSDb, SPS.Repository" MigrationConfiguration="SPS.Repository.Migrations.Configuration, SPS.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qdsgzqtxq5.database.windows.net,1433;Initial Catalog=smartparkingsystem_db;User Id=rootSPS@qdsgzqtxq5;Password=Root10052015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SPS.Web.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qdsgzqtxq5.database.windows.net,1433;Initial Catalog=smartparkingsystem_db;User Id=rootSPS@qdsgzqtxq5;Password=Root10052015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SPS.Web.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>