<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/SPS</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/SPS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SPS.Web.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=NICOLETTI;Initial Catalog=SPSDb;Integrated Security=False;User ID=sa;Password=sa123" Name="Data Source=NICOLETTI;Initial Catalog=SPSDb;Integrated Security=False;User ID=sa;Password=sa123;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SPS.Web.Models.ApplicationDbContext, SPS.Web" MigrationConfiguration="SPS.Web.Migrations.Configuration, SPS.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=NICOLETTI;Initial Catalog=SPSDb;Integrated Security=False;User ID=sa;Password=sa123" Name="Data Source=NICOLETTI;Initial Catalog=SPSDb;Integrated Security=False;User ID=sa;Password=sa123;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SPS.Repository.SPSDb, SPS.Repository" MigrationConfiguration="SPS.Repository.Migrations.Configuration, SPS.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=NICOLETTI;Initial Catalog=SPSDb;Integrated Security=False;User ID=sa;Password=sa123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SPS.Web.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=NICOLETTI;Initial Catalog=SPSDb;Integrated Security=False;User ID=sa;Password=sa123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SPS.Web.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>